<nav class="red lighten-2">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo center">StoryBooks</a>
        <a href="#" class="sidenav-trigger show-on-large" data-target="mobile-demo"><i class="fas fa-bars"></i></a>
    </div>
</nav>
{{!-- <ul class="sidenav" id="mobile-demo">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/assets/backgroundImage.jpg" alt="Background" class="responsive-img">
            </div>
            <a href="#"><img src="/assets/backgroundImage.jpg" class="circle" alt=""></a>
            <a href="#"><span class="white-text name">Shehbaz Ansari</span></a>
            <a href="#"><span class="white-text email">reactjs5622@gmail.com</span></a>
        </div>
    </li>
    <li><a href="/stories">Public Stories</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/contact">Contact</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="/auth/logout">Logout</a></li>
</ul> --}}