<h3>Add Your Story</h3>
<div class="row">
    <form action="/stories" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Tell Us Your Story:</h5>
                <textarea name="body" id="body"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn red">Cancel</a>
        </div>
    </form>
</div>

{{!-- Add Navbar --}}
<ul class="sidenav" id="mobile-demo">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/assets/backgroundImage.jpg" alt="Background" class="responsive-img">
            </div>
            <a href="#"><img src="{{image}}" class="circle responsive-img"></a>
            <a href="#"><span class="white-text name">{{fullName}}</span></a>
            <a href="#"><span class="white-text email">😎</span></a>
        </div>
    </li>
    <li><a href="/stories">Public Stories</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/contact">Contact</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>